@charset "UTF-8";


/* ベース */

body {
  font-family: 'Noto Serif' , 'Noto Serif JP' , serif;
  letter-spacing: 1px;
  color: #171717;
}

img{
  vertical-align: bottom;
  width: 100%;
}

.section-wrapper{
  padding: 100px 0 70px;
}

li{
  list-style: none;
}

a {
  text-decoration: none;
}


.section-title{
  max-width: 1200px;
  color: #282f35;
  font-size: 60px;
  font-style: italic;
  letter-spacing: 6px;
  margin:0 auto 80px;
  padding: 10px 20px; 
}
.section-title::after{
 content: "";
 display: inline-block;
 background-color: #282f35;
 width: 200px;
 height: 5px;
 margin-left: 30px;
 vertical-align: middle;
}

.section-inner{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 50px;
}

.section-bottom{
  max-width: 1200px;
  margin: 0 auto;
  font-size: 90px;
  opacity: .05;
  font-weight: bold;
letter-spacing: 2px;
}

.link-btn{
  display: block;
  width: 235px;
  line-height: 60px;
  margin: 0 auto 70px;
  background-color: #f7d43f;
  box-shadow: 0 0 6px #1b1310;
  border-radius: 30px;
  text-align: center;
  color: #171717;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

.link-btn:hover{
  opacity: .7;
  transition: .3s;
}


.section-title.text-white::after{
  background-color: #fff;
}

.title-left{
padding-left: 200px;
}

.text-right{
  text-align: right;
}
.text-white{
  color: #fff;
}
.section-title.text-white::after{
  background-color: #fff;
}

.sp-br {
  display: none;
}


/* ヘッダー部分 */

.header {
  padding: 19px 30px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  box-sizing: border-box;
  width: 100%;
  transition: .3s;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  transition: .3s;
  font-weight: bold;
  font-style: italic;
}

.header a:hover{
  opacity: .7;
  transition: .3s;
}

.header-title {
  font-size: 26px;
  padding-left: 10px;
  font-weight: bold;
  font-style: italic;
}

.header-title a {
  color: #fff;
}

.nav-list {
  display: flex;
}

.nav-item{
  margin-right: 30px;
}
.nav-item:last-of-type{
  margin-right: 0;
}

.burger-btn{
  display: none;
}

.header.fixed {
  position: fixed;
  background-color: #282f35;
  padding: 30px;
  width: 100%;
  transition: .3s;
}


/* fv */

.fv{
  height: 100vh;
  min-height: 550px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.fv img{
  object-fit: cover;
  height: 100vh;
  min-height: 550px;
}

.main-copy{
  position: absolute;
  left: 120px;
  bottom: 177px;
  color: #fff;
  font-weight: bold;
}
.fv-title{
  font-size: 70px;
  margin-bottom: 31px;
  letter-spacing: 1.4px;
}
.fv-subtitle{
  font-size: 40px;
  text-align: center;
  letter-spacing: 2px;
}

.slick-arrow {
  display: none !important;
}

/* コンセプト */

.concept-lead{
  text-align: center;
  font-size: 30px;
  margin-bottom: 60px;
  font-weight: bold;
  line-height: 1.7;
  letter-spacing: 1.5px;
}

.concept-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.concept-text{
  max-width: 440px;
  line-height: 1.9;
  font-weight: bold;
}
.concept-img-wrapper{
  max-width: 440px;
  margin-left: 20px;
}

/* ワーク */

.bg-works{
  background-image: url(./img/works-bgi@2x.jpg);
  background-size: cover;
  background-position: center;
}

/* ワークコンテンツ */

.works-list {
  max-width: 1000px;
  margin: 0 auto 80px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}

.works-card {
  width: 32%;
  background-color: #fff;
}

.works-text {
  padding:25px 20px;
  color: hsl(0, 0%, 8%);
}

/* サービス */

.service-card {
  display: flex;
  padding-bottom: 70px;
}

.service-item{
  width: 33.3%;
  height: 320px;
}

.service-item.service_1{
  background-image: url(./img/service-img01@2x.jpg);
}
.service-item.service_2{
  background-image: url(./img/service-img02@2x.jpg);
}
.service-item.service_3{
  background-image: url(./img/sevice-img03@2x.jpg);
}

.service-item a{
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  line-height: 320px;
  font-size: 40px;
  font-weight: bold;
  transition: .3s;
  letter-spacing:2px;
  font-style: italic;
  letter-spacing: 2px;
}

.service-item a:hover{
  background-color: rgba(40,47,53,.7);
  transition: .3s;
}

.our-service{
  padding-bottom: 70px;
}

/* コンタクト部分 */

.bg-contact{
  background-image: url(./img/contact-bgi@2x.jpg);
  background-size: cover;
}

.contact-text {
  font-size: 20px;
  text-align: center;
  color: #fff;
  padding-bottom: 40px;
}

/* フッター */

footer {
  width: 100%;
  height: 80px;
  background-color: #fff
}

.footer-text {
  font-size:14px;
  text-align: center;
  padding: 30px;
  font-weight: bold;
}


/* レスポンシブ */

@media screen and (max-width:768px){

.section-wrapper{
  padding:100px 15px 40px 15px;
}

.section-title{
  padding: 0 4vw;
  font-size: 30px;
  margin-bottom: 50px;
  letter-spacing: 1.5px;
}

.section-title::after{
  width: 100px;
}

.title-left{
  padding-left: 0;
}
.section-inner{
  padding: 0 4vw;
}
.section-bottom{
  font-size: 40px;
}

.link-btn{
  margin-bottom: 40px;
}

/* ヘッダー部分 */

.header {
  padding:30px 15px 0 15px;
}

.header-title{
  font-size: 5vw;
  padding-left: 0px;
}

.header-nav {
  display: none;
  /* ハンバーガーメニュー開いた画面 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #282F35;
}

.nav-list {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-item{
  margin: 0 0 30px;
}
.nav-item:last-of-type{
  margin-bottom: 0;
}


.burger-btn {
  display: block;
  position: absolute;
  top:30px;
  right: 4vw;
}

.burger-btn .bar{
  display: block;
  height: 3px;
  width: 30px;
  background-color: #fff;
  transition: .3s;
}
.bar_top, 
.bar_mid{
  margin-bottom: 10px;
}

/* ボタンタグのリセット */
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

/* ハンバーガー開いた時のメニューボタン */
.burger-btn.cross .bar_top{
  transform: rotate(45deg) translate(9px,9px);
  transition: .3s;
}
.burger-btn.cross .bar_mid{
  opacity: 0;
  transition: .3s;
}
.burger-btn.cross .bar_bottom{
  transform: rotate(-45deg) translate(9px,-9px);
  transition: .3s;
}

body.noscroll{
  overflow: hidden;
}

/* fv */
.sp-br {
  display: block;
}

.pc-br {
  display: none;
}

.main-copy{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.fv-title{
  font-size: 9.8vw;
  white-space:nowrap;
}
.fv-subtitle{
  font-size: 8vw;
}

/* コンセプト */

.concept-lead{
  font-size: 20px;
  margin-bottom: 34px;
}

.section-inner{
  padding: 0;
}

.concept-contents{
  display: block;
  flex-direction: column;
  margin-bottom: 40px;
}

.concept-text{
  padding-bottom: 30px;
  max-width: 100%;
  text-align: justify; 
}

.concept-img-wrapper{
  max-width: 100%;
  margin: 0;
}

/* ワーク */
.works-list{
  display: block;
  flex-direction: column;
  padding:0 12px;
}

.works-card {
  width: 320px;
  width: 100%;
  margin: 0 auto 30px;
}

.works-card:last-of-type{
  margin-bottom: 0;
}

/* サービス */

.section-wrapper-service{
  padding-bottom: 64px;
}

.service-card{
  display: block;
  flex-direction: column;
  padding-bottom: 40px;
}

.service-item{
  width: 100%;
  margin-bottom: 30px;
  background-size: cover;
  background-position: center;
}

.service-item a{
  font-size: 20px;
}

.service-item:last-of-type{
  margin-bottom: 0;
}

.our-service{
padding-right: 15px;
padding-bottom: 0;
}

}
